<div class="container content">
	<div class="row">
		<div class="col-sm-3">
			<div class="category_box">
				<h3 class="cate_head">套餐</h3>
				<ul class="category">
					<li><a href="javascript:;">全部</a></li>
					<li><a href="javascript:;">四菜一汤</a></li>
					<li><a href="javascript:;">六菜一汤</a></li>
					<li><a href="javascript:;">八菜一汤</a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="fruit">
				<h3>选择套餐</h3>
			</div>
			<div class="product-filter">
				<div class="sort">
					<b>排序:</b> <select onchange="location = this.value;">
						<option value="#" selected="selected">默认</option>
						<option value="#">Price (Low &gt; High)</option>
						<option value="#">Price (High &gt; Low)</option>
						<option value="#">Rating (Highest)</option>
						<option value="#">Rating (Lowest)</option>
					</select>
				</div>
				<div class="limit">
					<b>每页显示:</b> <select>
						<option value="#" selected="selected">10</option>
						<option value="#">20</option>
						<option value="#">50</option>
					</select>
				</div>
			</div>
			<div class="row content_box itemset" ng-repeat="set in sets track by $index">
				<div class="col-sm-3 item" ng-repeat="item in set.items track by $index">
					<img ng-src="{{item.img}}" class="img-responsive" alt="">
					<div class="content_box-grid">
						<p class="content_text" ng-bind="item.name"></p>
					</div>
				</div>
				<div class="col-xs-12 clearfix">
					<div class="btn1 pull-right">立即预约</div>
					<div class="price pull-right">
						<span class="actual" ng-bind="set.price|currency:'￥'"></span>/份
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
