.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 30px auto;
}
.form-signin>input,
.form-signin>button {
  margin-bottom: 15px;
  border-radius: 0;
}
.form-signin a {
  font-size: 14px;
  color: #803e26;
}
.form-signin>.btn-primary,
.form-signin>.btn-primary:active {
  background-color: #803e26;
  border-color: #803e26;
}